<div class="row flex-parent">
    <div>Click <span class="clickHere" data-toggle="modal" data-target="#hoursTable">here</span> to see
        the hour table</div>
</div>

<div class="modal fade" id="hoursTable" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hours Table</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Type</th>
                            <th scope="col">Hours spent</th>
                            <th scope="col">Hours counted</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Angular</td>
                            <td>Online Course</td>
                            <td>20</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>NodeJs</td>
                            <td>Online Course</td>
                            <td>10</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Scouts</td>
                            <td>Team Leadership</td>
                            <td>100 +</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>SLG App</td>
                            <td>Native app maintenance</td>
                            <td>15 +</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Rush Hour</td>
                            <td>Python game</td>
                            <td>15</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Covid-19 Masks</td>
                            <td>3D printing</td>
                            <td>30 +</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>DevDay</td>
                            <td>Conference</td>
                            <td>7</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>                                              
                            <td id="totalHours">Total :</td>
                            <td>195 +</td>  
                            <td>60</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
