<div class="vertical-center">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md" id="i1" data-toggle="modal" data-target="#me">
        <img class="img-fluid circle" src="../../assets/img/profile.jpg" alt="Me">
        <span class="description">Me</span>
      </div>
      <div class="col-md" id="i2" data-toggle="modal" data-target="#Computer-Science">
        <img class="img-fluid circle" src="../../assets/img/about/Computer-Science.jpg" alt="Computer science">
        <span class="description">Computer Science</span>
      </div>
      <div class="col-md" id="i3" data-toggle="modal" data-target="#Electromechanics">
        <img class="img-fluid circle" src="../../assets/img/about/Electromechanics.jpg" alt="Electromechanics">
        <span class="description">Electromechanics</span>
      </div>
      <div class="col-md" id="i4" data-toggle="modal" data-target="#Other">
        <img class="img-fluid circle" src="../../assets/img/bike2.JPG" alt="Other">
        <span class="description">Other</span>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="me" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Who am I ?</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates delectus repellendus laborum ullam magni
          libero quibusdam eveniet? Cum est facere molestiae quia nemo quidem, tenetur quibusdam illo maxime quod ab?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates delectus repellendus laborum ullam magni
          libero quibusdam eveniet? Cum est facere molestiae quia nemo quidem, tenetur quibusdam illo maxime quod ab?
        </p>
        <p>Discover more about my skills <a routerLink="/skills" data-dismiss="modal">here</a> or <a
            routerLink="/contact" data-dismiss="modal">contact</a> me.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Computer-Science" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Computer-Science</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates delectus repellendus laborum ullam magni
          libero quibusdam eveniet? Cum est facere molestiae quia nemo quidem, tenetur quibusdam illo maxime quod ab?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates delectus repellendus laborum ullam magni
          libero quibusdam eveniet? Cum est facere molestiae quia nemo quidem, tenetur quibusdam illo maxime quod ab?
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Electromechanics" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Electromechanics</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates delectus repellendus laborum ullam magni
          libero quibusdam eveniet? Cum est facere molestiae quia nemo quidem, tenetur quibusdam illo maxime quod ab?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates delectus repellendus laborum ullam magni
          libero quibusdam eveniet? Cum est facere molestiae quia nemo quidem, tenetur quibusdam illo maxime quod ab?
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Other" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Other</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates delectus repellendus laborum ullam magni
          libero quibusdam eveniet? Cum est facere molestiae quia nemo quidem, tenetur quibusdam illo maxime quod ab?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates delectus repellendus laborum ullam magni
          libero quibusdam eveniet? Cum est facere molestiae quia nemo quidem, tenetur quibusdam illo maxime quod ab?
        </p>
        <p>Connect with me on <a href="https://www.strava.com/athletes/43780503" target="_blank">Strava</a></p>
      </div>
    </div>
  </div>
</div>