<div class="vertical-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm">
                <img id="i1" class="img-fluid circle" src="../../assets/img/profile.jpg" alt="">    
            </div>
            <div class="col-sm">
                <img id="i2" class="img-fluid circle" src="../../assets/img/Computer-Science.jpg" alt="">
            </div>
            <div class="col-sm">
                <img id="i3" class="img-fluid circle" src="../../assets/img/Electromechanics.jpg" alt="">
            </div>
            <div class="col-sm">
                <img id="i4" class="img-fluid circle" src="../../assets/img/bike2.JPG" alt="">
            </div>
        </div>
    </div>
</div>
