<div class="vertical-center">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md" id="i1" data-toggle="modal" data-target="#me">
        <img class="img-fluid circle" src="../../assets/img/profile.jpg" alt="Me">
        <span class="description">Me</span>
      </div>
      <div class="col-md" id="i3" data-toggle="modal" data-target="#Electromechanics">
        <img class="img-fluid circle" src="../../assets/img/about/Electromechanics.jpg" alt="Electromechanics">
        <span class="description">Electromechanics</span>
      </div>
      <div class="col-md" id="i2" data-toggle="modal" data-target="#Computer-Science">
        <img class="img-fluid circle" src="../../assets/img/about/Computer-Science.jpg" alt="Computer science">
        <span class="description">Computer Science</span>
      </div>
      <div class="col-md" id="i4" data-toggle="modal" data-target="#Other">
        <img class="img-fluid circle" src="../../assets/img/bike2.JPG" alt="Other">
        <span class="description">Other</span>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="me" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Who am I ?</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>I am Martin Michotte, born on the 25th of march 1995 in Belgium.
        </p>
        <p>I love to learn new things and I always try to find solutions for all kind of problems I or others might
          have.
          I am used to work within a team and have worn many hats such as team-leader, scrum-master, consultant.
        </p>
        <p>
          Having a degree in electromechanics and in computer-science, gives me the ability to have a good understanding
          of technical problems and allows me to translate them more easily into technical or software solutions.
        </p>
        <!--<p>Discover more about my <a routerLink="/skills" data-dismiss="modal">skills</a>, my <a routerLink="/work"
            data-dismiss="modal">work</a> or get in <a routerLink="/contact" data-dismiss="modal">touch</a> with me.</p>-->
        <!--<p>Discover more about my <a routerLink="/work" data-dismiss="modal">work</a>, download my <a
            href="../../assets/docs/CV_MICHOTTE_Martin-ENG.pdf" download>CV</a> or get in <a routerLink="/contact"
            data-dismiss="modal">touch</a> with me.</p>-->
        <p>Discover more about my work, download my <a href="../../assets/docs/CV_MICHOTTE_Martin-ENG.pdf"
            download>CV</a> or get in <a routerLink="/contact" data-dismiss="modal">touch</a> with me.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Electromechanics" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Electromechanics</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>I graduated in electromechanics on the 22th of June 2018 from <a href="https://www.ephec.be"
            target="_blank">EPHEC</a> as the "Major of Promotion" with "The
          Greatest Distinction". </p>
        <p>During those years I had the opportunity to contribute to the <a
            href="https://www.makethefuture.shell/en-gb/shell-eco-marathon" target="_blank">Shell Eco Marathon</a> where
          a fellow
          student and I developed a custom ECU for our gas-powered prototype car.</p>
        <p>I also worked with a <a href="https://www.slgcars.be" target="_blank">SLG Classic Cars</a> for a 15 weeks
          internship. I
          helped them build and optimize a 2CV car for the <a href="http://www.24h2cv.be" target="_blank"> 24h 2cv
            race</a> of
          Spa-Francorchamps.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Computer-Science" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Computer-Science</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>I am currently in my last year of a bachelor degree in computer-science at <a href="https://www.ephec.be"
            target="_blank">EPHEC</a>.</p>
        <p>
          Since mid-February I've been on internship at <a href="https://www.bstorm.be" target="_blank">BStorm</a> and I
          am really enjoying it. The level of requirement is much higher than I thought but this allows me to learn a lot of
          new concepts and techniques.
        </p>

        <p>This last study year is coming to an end and I will probably be graduated at the end of June 2021.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Other" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Other</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Appart from work, I am an amateur cyclist and hope to discover the world on my bike.
        </p>
        <p>I love thinkering on various projects that are usually based on software or electromechanical challenges.</p>
        <p>Being very involved in scouting, I deeply respect nature and care about knowledge transmission.</p>
        <p>Connect with me on <a href="https://www.strava.com/athletes/43780503" target="_blank">Strava</a>.</p>
      </div>
    </div>
  </div>
</div>