<nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar" >
      <ul class="nav navbar-nav ml-5">
        <li class="nav-item mx-2" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse" data-target="#myNavbar"><a class="nav-link" routerLink="">Home</a></li>
        <li class="nav-item mx-2" routerLinkActive="active"><a class="nav-link" routerLink="about-me" data-toggle="collapse" data-target="#myNavbar">About me</a></li>
        <li class="nav-item mx-2" routerLinkActive="active"><a class="nav-link" routerLink="work" data-toggle="collapse" data-target="#myNavbar">Work</a></li>
        <li class="nav-item mx-2" routerLinkActive="active"><a class="nav-link" routerLink="skills" data-toggle="collapse" data-target="#myNavbar">Skills</a></li>
        <li class="nav-item mx-2" routerLinkActive="active"><a class="nav-link" routerLink="portfolio" data-toggle="collapse" data-target="#myNavbar">Portfolio</a></li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right mx-5">
      <li class="nav-item mx-2 " routerLinkActive="active"><a class="nav-link" routerLink="contact">Contact</a></li>
    </ul>
</nav>
