
.navbar-nav a {
    font-size: 1.3em;
}

.navbar-nav li a{
    color: white;
}

.navbar-nav li a:hover{
    color: var(--myOrange);
}

.navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
        a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: var(--myOrange);
}
