
.contentCol, h1 {
    animation: fadein 1s ease-in forwards ;
    
    img{
        transition-duration: 0.5s;
        display: inline-block;
        width: 80px;
        height: auto;
    }

    img:hover {
        transform: scale(1.3);
    }
 
    .form-group {
        label {
            font-size: 16px;
        }
    }

    .form-control, .btn {
        border-style: none;
        border-width: 1px;
        border-color: hsla(0,0%,100%,0);
        border-radius: 10px;
        background-color: #191919;
    }

    .form-control {
        min-width: 40vw;
    }
    .btn {
        min-width: 15vw;
        color: #f0860c;
    }

    .icon {
        width: 100px;
        height: 100px;
    }

    .invalidField {
        color: red !important;
    }

    #successMsg {
        display: none;
    }

    input, textarea {
        color: rgb(201, 200, 200) !important;
    }
}
