<div class="vertical-center">
    <div class="container">
        <div class="row flex-parent">
            <app-activity 
                title="Angular" 
                subTitle="Online Course" 
                coverImg="../../assets/img/portfolio/angular.png" 
                imgAlt="Angular icon" 
                descriptionBody = "
                    <p>Last year (2019-2020), during my studies, we had to build a complete web-app from scratch and as a
                        group we decided to implement our front-end using the React framework. Even though I liked it a lot,
                        this year I decided not to deepen my knowledge in React and instead learn a new front-end framework
                        : Angular.</p>
                    <p>I started an online course on <a href='https://openclassrooms.com' target='_blank'>OpenClassRooms</a>
                        and finished it
                        in no more than a few days. I really enjoyed it and I have to say that I actually prefer Angular
                        over React!</p>
                    <p>This course was not only very interesting, but very usefully since it's a required knowledge for
                        my upcoming internship </p>
                    <p>As a side note, this website was made with Angular!</p>
                "
                proofDir="../../assets/img/portfolio/proofs/angular/"
                proofQuant=1
                proofExtension=".png"
                proofAlt="Angular online course proof"
                proofText="to see the proof."
                (newModalEvent)="addModal($event)"
            ></app-activity>

            <app-activity 
                title="NodeJs & Express" 
                subTitle="Online Course" 
                coverImg="../../assets/img/portfolio/nodejs.png" 
                imgAlt="nodeJs icon" 
                descriptionBody = "
                    <p>Similarly as what I said in the Angular information, during last year's project, we used Django as a
                        back-end framework. And yet again, instead of deepening my knowledge in Django, I decided to learn
                        one of the most used back-end 'frameworks' : NodeJs and Express.</p>
                    <p>I started an online course on <a href='https://openclassrooms.com' target='_blank'>OpenClassRooms</a>
                        and finished the
                        basics in a few days.
                        The rest of the course took me more time to complete since it was a more 'hands-on' part and I
                        didn't have a lot of time.</p>
                    <p>Django and NodeJs are really different and I enjoy each of them with a slight preference for NodeJs
                        mainly because of it's ease of use.</p>
                "
                proofDir="../../assets/img/portfolio/proofs/nodeJs/"
                proofQuant=1
                proofExtension=".png"
                proofAlt="NodeJs online course proof"
                proofText="to see the proof."
                (newModalEvent)="addModal($event)"
            ></app-activity>

            <app-activity 
                title="Scouts Leader" 
                subTitle="" 
                coverImg="../../assets/img/portfolio/Scouts.png" 
                imgAlt="Scouts icon" 
                descriptionBody = "
                    <p>Scouting is a big part of my life, I have been in the <a href='https://www.scouts-europe.be'
                        target='_blank'>European
                        Scouts</a> since I was 5 years old and never skipped a year since then! I went from the 'wolf
                        cubs' to 'scout' to 'scout Assistant-Chief' to 'scout Head-Chief' and finally to 'Unit-Chief'.
                        Even though I don't lead the scouts anymore, as a 'Unit-Chief' I help the Head-Chiefs from all over
                        Wallonia.
                    </p>
                    <p>
                        Even though this year is a bit particular with the Covid-pandemic, I still managed to organise some
                        activities such as the welcoming of al the new Chiefs-to-be, where we built a tree-climbing course.
                    </p>
                "
                proofDir="../../assets/img/portfolio/proofs/scouts/"
                proofQuant=2
                proofExtension=".gif"
                proofAlt="Scouts proof"
                proofText="to see the proof."
                (newModalEvent)="addModal($event)"
            ></app-activity>

        </div>

        <div class="row flex-parent">
            <app-activity 
                title="Native Application Maintenance" 
                subTitle="" 
                coverImg="../../assets/img/portfolio/SlgAppLogo.png" 
                imgAlt="SlgApp icon" 
                descriptionBody = "
                    <p>A few years ago I built a desktop application for a small company named <a
                        href='https://www.slgcars.be' target='_blank'>SLG Classic Cars</a>. The application was designed
                    to help them
                    create and receive orders to and from their suppliers.</p>
                    <p>I build this application when I didn't have a lot of programming knowledge. It's therefore far from
                        optimized and contains a lot of bugs. During the last 2 years, I spent at least three to four full
                        days on site to solve these bugs.
                    </p>
                "
                proofDir="../../assets/img/portfolio/proofs/slgApp/"
                proofQuant=3
                proofExtension=".PNG"
                proofAlt="Slg App proof"
                proofText="
                    to see the actual app or check out the <a class='clickHere' href='https://github.com/MMichotte/SLG-Order-Manager' target='_blank'>GitHub</a> repository.
                    (Note that the code wasn't on Github before recently).
                    <br> For more information, feel free to contact me
                    or the company. (be sure to mention my name)
                "
                (newModalEvent)="addModal($event)"
            ></app-activity>

            <app-activity 
                title="Rush Hour" 
                subTitle="python game" 
                coverImg="../../assets/img/portfolio/rushHour.png" 
                imgAlt="RushHour icon" 
                descriptionBody = "
                    <p>A few years ago I built a desktop application for a small company named <a
                        href='https://www.slgcars.be' target='_blank'>SLG Classic Cars</a>. The application was designed
                    to help them
                    create and receive orders to and from their suppliers.</p>
                    <p>I build this application when I didn't have a lot of programming knowledge. It's therefore far from
                        optimized and contains a lot of bugs. During the last 2 years, I spent at least three to four full
                        days on site to solve these bugs.
                    </p>
                "
                proofDir="../../assets/img/portfolio/proofs/rushHour/"
                proofQuant=1
                proofExtension=".gif"
                proofAlt="RushHour proof"
                proofText="
                    to see a snapshot of the game
                    or check out the <a class='clickHere' href='https://github.com/MMichotte/RushHour_game'
                        target='_blank'>GitHub</a> repository.
                "
                (newModalEvent)="addModal($event)"
            ></app-activity>

            <app-activity 
                title="Covid-19 Masks" 
                subTitle="3D printing" 
                coverImg="../../assets/img/portfolio/covid_masks.png" 
                imgAlt="Covid-19 masks icon" 
                descriptionBody = "
                    //TODO
                "
                proofDir="../../assets/img/portfolio/proofs/Covid_masks/"
                proofQuant=2
                proofExtension=".gif"
                proofAlt="Covid-19 masks proof"
                proofText="
                    to see the proof.
                "
                (newModalEvent)="addModal($event)"
            ></app-activity>
        </div>

        <div class="row flex-parent">
            <app-activity 
                title="DevDay 2020" 
                subTitle="Conference" 
                coverImg="../../assets/img/portfolio/devDay.png" 
                imgAlt="devDay 2020 icon" 
                descriptionBody = "
                    //TODO
                "
                proofDir="../../assets/img/portfolio/proofs/devDay/"
                proofQuant=1
                proofExtension=".png"
                proofAlt="DevDay 2020 proof"
                proofText="
                    to see the proof.
                "
                (newModalEvent)="addModal($event)"
            ></app-activity>

            <app-activity 
                title="//TODO" 
                subTitle="" 
                coverImg="../../assets/img/portfolio/def.png" 
                imgAlt="//TODO icon" 
                descriptionBody = "
                    //TODO
                "
                proofDir="../../assets/img/portfolio/proofs/devDay/"
                proofQuant=1
                proofExtension=".png"
                proofAlt="//TODO proof"
                proofText="
                    to see the proof.
                "
                (newModalEvent)="addModal($event)"
            ></app-activity>

        </div>

        <app-hours-table></app-hours-table>

    </div>

</div>

<div *ngFor="let modal of modals">
    <div class="modal fade" id={{modal.id}} tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">{{modal.title}}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div [innerHTML]="modal.content"></div>
                    <h5>Proof :</h5>
                    <div>Click <span class="clickHere" (click)="displayProof(modal.proof.id)" data-toggle="modal"
                        [attr.data-target]="'#'+modal.id">here </span> <span [innerHTML]="modal.proof.text"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngFor="let modal of modals">
    <div *ngIf="modal.proof.proofQuant > 1">
        <div class="proof " id={{modal.proof.id}}>
            <img src="{{modal.proof.path+slideN+modal.proof.extension}}" alt={{modal.proof.alt}} class="mySlides"
            (click)="hideProof(modal.proof.id)">
            <button class="btn btnImg-left" (click)="nextIm(-1,modal.proof.proofQuant)">&#10094;</button>
            <button class="btn btnImg-right" (click)="nextIm(+1,modal.proof.proofQuant)">&#10095;</button>
        </div>
    </div>
    <div *ngIf="modal.proof.proofQuant == 1">
        <div class="proof " id={{modal.proof.id}}>
            <img src="{{modal.proof.path+'0'+modal.proof.extension}}" alt={{modal.proof.alt}} (click)="hideProof(modal.proof.id)">
        </div>
    </div>
</div>
