
main {
    position: relative;
    height: 80vh;
    width: 100vw;
}

main div{
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

main div img{
    transition-duration: 0.5s;
    display: inline-block;
    width: 8vw;
    height: auto;
    margin: 1em 5em;
    
}

main div img:hover{
    transition-duration: 0.5s;
    width: 10vw;
    height: auto;
}

main div p {
    font-size: 3em;
    display: none;
}
