<div class="vertical-center">
    <div class="row align-items-center">
        <div class="col-sm" id="contentCol">
            <div id="content">
                <h4>Hi, I'm Martin.</h4>
                <h1>Developer & Electromechanic</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat unde, nostrum, corporis quaerat quos rerum libero aspernatur ex ipsum laudantium consectetur odit veritatis voluptatem a veniam expedita quidem architecto cum!</p>
            </div>
        </div>
        <div class="col-sm justify-content-center" id="contentCol">
            <img src="../../assets/img/bike.JPG" class="img-fluid" alt="Martin Michotte">
        </div>
    </div>    
</div>
