<div class="vertical-center">
    <div class="row align-items-center">
        <div class="col-md-6 contentCol">
            <h4>Hi, I'm Martin.</h4>
            <h1 id="one">Electromechanic,</h1>
            <h1 id="two">Full-stack Developer</h1>
            <h1 id="three">& More</h1>
        </div>
        <div class="col-md-6 justify-content-center contentCol">
            <img src="../../assets/img/bike.JPG" class="img-fluid" id="imgMartin" alt="Martin Michotte">
        </div>
    </div>  
</div>
